[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Disobedience
Comment=User interface for DisOrder network jukebox
Exec=disobedience
Icon=disobedience.png
Terminal=false
Categories=Audio;AudioVideo;Player;Music;
