#
# This file is part of DisOrder.
# Copyright (C) 2006, 2007 Richard Kettlewell
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
# USA
#

# Default style for Disobedience
#
# See e.g. http://developer.gnome.org/doc/API/2.0/gtk/gtk-Resource-Files.html
# for syntax documentation.

style "disobedience-default"
{
  bg[NORMAL] = { 1.0, 1.0, 1.0 }
  fg[NORMAL] = { 0.0, 0.0, 0.0 }
  bg[PRELIGHT] = { 1.0, 1.0, 1.0 }
  fg[PRELIGHT] = { 1.0, 1.0, 1.0 }
}

style "disobedience-playing"
{
  bg[NORMAL] = { 0.875, 1.0, 0.875 }
  fg[NORMAL] = { 0.0, 0.0, 0.0 }
}

style "disobedience-even"
{
  bg[NORMAL] = { 1.0, 0.921875, 0.921875 }
  fg[NORMAL] = { 0.0, 0.0, 0.0 }
}

style "disobedience-odd"
{
  bg[NORMAL] = { 1.0, 1.0, 1.0 }
  fg[NORMAL] = { 0.0, 0.0, 0.0 }
}

style "disobedience-search"
{
  bg[NORMAL] = { 1.0, 1.0, 0.0 }
  fg[NORMAL] = { 0.0, 0.0, 0.0 }
}

style "disobedience-title"
{
  bg[NORMAL] = { 0.0, 0.0, 0.0 }
  fg[NORMAL] = { 1.0, 1.0, 1.0 }
  font_name = "Bold"
}

style "disobedience-drag"
{
  bg[NORMAL] = { 0.4, 0.4, 0.4 }
  fg[NORMAL] = { 1.0, 1.0, 1.0 }
}

# The main tabs
widget "disobedience.*.choose" style : application "disobedience-default"
widget "disobedience.*.choose-dir" style : application "disobedience-default"
widget "disobedience.*.queue" style : application "disobedience-default"
widget "disobedience.*.recent" style : application "disobedience-default"

# Drag target
widget "disobedience.*.queue-drag" style : application "disobedience-drag"

# Rows in the queue/recent tabs
widget "disobedience.*.row-playing" style : application "disobedience-playing"
widget "disobedience.*.row-even" style : application "disobedience-even"
widget "disobedience.*.row-odd" style : application "disobedience-odd"
widget "disobedience.*.row-title" style : application "disobedience-title"

# Search results
widget "disobedience.*.choose-search" style : application "disobedience-search"
