Source: disorder
Maintainer: Richard Kettlewell <rjk@greenend.org.uk>
Section: sound
Priority: optional
Standards-Version: 3.8.1.0
Build-Depends: libgc6-dev | libgc-dev, libgcrypt-dev, libdb4.3-dev | libdb4.5-dev | libdb4.7-dev | libdb4.8-dev | libdb5.1-dev, libpcre3-dev, libvorbis-dev, libmad0-dev, libasound2-dev, libpulse-dev, python, libflac-dev, libgtk2.0-dev (>= 2.12.12), pkg-config, libgstreamer1.0-dev | libgstreamer0.10-dev, libgstreamer-plugins-base1.0-dev | libgstreamer-plugins-base0.10-dev, libsamplerate0-dev
Vcs-Git: https://code.google.com/p/disorder/
Homepage: http://www.greenend.org.uk/rjk/disorder/

Package: disorder
Architecture: any
Section: sound
Priority: extra
Depends: ${shlibs:Depends}
Suggests: disorder-playrtp,disobedience
Description: Play random or selected digital audio files continuously
 DisOrder is a software jukebox.  It can play OGG, MP3, WAV and FLAC files,
 and other formats with suitable configuration.  It is capable of playing
 either via a locally attached sound device or over the network using
 an RTP stream.  It can be managed via a web interface or the graphical
 client Disobedience.
 .
 This package contains command-line client and the documentation.
 You will need to install disorder-server somewhere and might want to
 install disorder-playrtp and/or disobedience on any client machines.

Package: disorder-server
Architecture: any
Section: sound
Priority: extra
Depends: disorder,httpd-cgi,sox,debconf,${shlibs:Depends},exim4|mail-transport-agent,adduser
Suggests: disorder-playrtp,disobedience
Description: Play random or selected digital audio files continuously
 DisOrder is a software jukebox.  It can play OGG, MP3, WAV and FLAC files,
 and other formats with suitable configuration.  It is capable of playing
 either via a locally attached sound device or over the network using
 an RTP stream.  It can be managed via a web interface or the graphical
 client Disobedience.
 .
 This package contains the server and the web interface.

Package: disorder-playrtp
Architecture: any
Section: sound
Priority: extra
Depends: ${shlibs:Depends}
Description: Network play client for DisOrder
 DisOrder is a software jukebox.  It can play OGG, MP3, WAV and FLAC files,
 and other formats with suitable configuration.  It is capable of playing
 either via a locally attached sound device or over the network using
 an RTP stream.
 .
 This package contains the RTP player.  It can play audio streams generated
 by the server, received over a LAN.

Package: disorder-gstdecode
Architecture: any
Section: sound
Priority: extra
Depends: ${shlibs:Depends}
Enhances: disorder-server
Description: GStreamer-based audio decoder for DisOrder
 DisOrder is a software jukebox.  It can play OGG, MP3, WAV and FLAC files,
 and other formats with suitable configuration.  It is capable of playing
 either via a locally attached sound device or over the network using
 an RTP stream.
 .
 This package contains a GStreamer-based audio decoder.  This can (with
 appropriate GStreamer plugins) decode different kinds of audio files, and
 also apply ReplayGain to the decoded audio.

Package: disobedience
Architecture: any
Section: sound
Priority: extra
Depends: disorder,${shlibs:Depends}
Suggests: disorder-playrtp
Description: Controller GUI for DisOrder
 DisOrder is a software jukebox.  It can play OGG, MP3, WAV and FLAC files,
 and other formats with suitable configuration.  It is capable of playing
 either via a locally attached sound device or over the network using
 an RTP stream.
 .
 This package contains the graphical client for controlling the
 DisOrder software jukebox over a network.
