# player programs
player *.mp3 execraw mpg321 -q -o disorder
player *.ogg execraw ogg123 -q -d disorder -o fragile:1
player *.wav shell play

# don't leave a gap between tracks
gap 0

# trust the web user and root
trust www-data root

# run as user jukebox
user jukebox

# volume control
mixer /dev/mixer
channel pcm

# stopwords (i.e. ignored words) for the track search facility
stopword 01 02 03 04 05 06 07 08 09 10
stopword 1 2 3 4 5 6 7 8 9
stopword 11 12 13 14 15 16 17 18 19 20
stopword 21 22 23 24 25 26 27 28 29 30
stopword the a an and to too in on of we i am as im for is

# namepart and transform are now filled in by default if you do not supply
# them.  However if you supply any namepart directives then you will not
# get any defaults at all, so you must supply the full set.  Similarly,
# if you supply any transform directives then you must supply the full set.

# Parsing of track names for the currently playing track, the recently
# played list and the queue.
#namepart  title   "/([0-9]+:)?([^/]+)\\.[a-zA-Z0-9]+$"     "$2"      display
#namepart  title   "/([^/]+)\\.[a-zA-Z0-9]+$"               "$1"      sort
#namepart  album   "/([^/]+)/[^/]+$"                        "$1"      *
#namepart  artist  "/([^/]+)/[^/]+/[^/]+$"                  "$1"      *
# used in alias construction
#namepart  ext     "(\\.[a-zA-Z0-9]+)$"                     "$1"      *

# Transformations of directory and filenames for the track choice screen
#transform track   "^.*/([0-9]+:)?([^/]+)\\.[a-zA-Z0-9]+$"  "$2"      display
#transform track   "^.*/([^/]+)\\.[a-zA-Z0-9]+$"            "$1"      sort

#transform dir     "^.*/([^/]+)$"                           "$1"      *
#transform dir     "^(the) ([^/]*)"                         "$2, $1"  sort    i
#transform dir     "[[:punct:]]"                            ""        sort    g

# include debconf configuration
include /etc/disorder/conf.debconf
# arch-tag:0c5987c73419c0551559cc72c3efa252
