# Debian DisOrder config file
#
# You can use 'dpkg-reconfigure disorder' to adjust the following items:
#  - track collections
#  - scratch tracks
#  - the hostname to use in the web interface
#  - the port number for the server to use
#
# For anything else, you will need to edit this file.
#

# Player programs
#
# You can add new players for other formats.  For gapless and network
# play to work, you will need a player that can use libao and DisOrder's
# special driver - see "LIBAO driver" in disorder_config(5)
player *.mp3 execraw disorder-decode
player *.ogg execraw disorder-decode
player *.wav execraw disorder-decode
player *.flac execraw disorder-decode

# Track length calculators
#
# If you add new formats then can add a plugin module to calculate the
# length of a track.  See disorder(3) for the interface.
tracklength *.mp3 disorder-tracklength
tracklength *.ogg disorder-tracklength
tracklength *.wav disorder-tracklength
tracklength *.flac disorder-tracklength

# Don't leave a gap between tracks.
gap 0

# Trust the web user and root.  Trusted users can stop the server or
# pretend to be other users.
trust www-data root

# Run as user jukebox.
user jukebox

# Volume control settings.
# The device name to use
mixer /dev/mixer
# The channel to control
channel pcm

# include debconf configuration
include /etc/disorder/conf.debconf
