# Debian DisOrder config file
#
# You can use 'dpkg-reconfigure disorder' to adjust the following items:
#  - track collections
#  - scratch tracks
#  - the hostname to use in the web interface
#  - the port number for the server to use
#
# For anything else, you will need to edit this file.
#

# This line just ensures that the pre-existing root user gets admin
# rights and can be removed after upgrade to 3.0 or later, or if the
# initial install is of 3.0 or later.
trust root

# Run as user jukebox.
user jukebox

# include debconf configuration
include /etc/disorder/conf.debconf
