#! /usr/bin/make -f

DH_OPTIONS		 = --parallel -Bdebian/build
export LC_ALL		 = C.UTF-8

###--------------------------------------------------------------------------
### Configuration.

cgiexecdir		 = /usr/lib/cgi-bin
httpdir			 = /var/www
browser			 = x-www-browser

override_dh_auto_configure:
	[ -f configure ] || ./autogen.sh
	dh_auto_configure -- \
		--libdir="/usr/lib" \
		--localstatedir="/var/lib" \
		--with-browser="$(browser)" \
		cgiexecdir="$(cgiexecdir)" \
		httpdir="$(httpdir)"

###--------------------------------------------------------------------------
### Building.

## We override sendmail to the value defined in policy, in case configure
## picks up some other sendmail.
SENDMAIL		 = /usr/sbin/sendmail

override-dh_auto_build:
	dh_auto_build -- \
		SENDMAIL="$(SENDMAIL)"

###--------------------------------------------------------------------------
### Installation.

## Arrange for some packages to have /usr/share/doc/PKG be a symlink to
## `disorder'.  The others have proper docs directories, for now.
DOCLINK_PKGS		 = disorder-server disobedience
override_dh_installdocs:
	dh_installdocs $(addprefix -p, $(DOCLINK_PKGS)) --link-doc=disorder
	dh_installdocs $(addprefix -N, $(DOCLINK_PKGS))

###--------------------------------------------------------------------------
### Set up the proper dependencies for `disorder-gstreamer'.

override_dh_gencontrol:
	dh_gencontrol -- -Tdebian/build/debian/substvars.auto

###--------------------------------------------------------------------------
### And just let Debhelper do the rest of the work.

%:; dh $@ $(DH_OPTIONS)
