<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2004-2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<html>
 <head>
@stdhead{about}
 </head>
 <body>
@stdmenu{about}

  <p><a title="The DisOrder duck would like you to visit the DisOrder web site"
  href="http://www.greenend.org.uk/rjk/disorder/"> <img src="@image{logo}"
  alt="About DisOrder" style="border-style:none"></a></p>

  <h2 class=sectiontitle>About DisOrder</h2>

  <div class=section>

   <p>This is DisOrder @version, a multi-user software jukebox.
   Please see the <a href="@url?action=help">help page</a> for
   instructions on using this interface.</p>

  </div>
    
  <h2 class=sectiontitle>Reporting Bugs</h2>

  <div class=section>

   <p>Please report bugs <a
   href="http://code.google.com/p/disorder/issues/list">using Google
   Code</a>.</p>

  </div>
    
  <h2 class=sectiontitle>Source Code</h2>

  <div class=section>

   <p>DisOrder is free software.  You can <a
   href="http://www.greenend.org.uk/rjk/disorder/">get the source code from
   its website</a>.</p>

  </div>
    
  <h2 class=sectiontitle>Copyright</h2>

  <div class=section>

   <p>Copyright &copy; 2003-2008 <a
   href="http://www.greenend.org.uk/rjk/">Richard Kettlewell</a><br>

   Portions copyright &copy; 2007 <a
   href="http://www.chiark.greenend.org.uk/~ryounger/">Ross
   Younger</a><br>

   Portions copyright &copy; 2007, 2008 Mark Wooding<br>

   Portions extracted from <a
   href="http://mpg321.sourceforge.net/">MPG321</a>, Copyright &copy; 2001 Joe
   Drew, Copyright &copy; 2000-2001 Robert Leslie<br>

   Portions copyright &copy; 1997-2006 <a
   href="http://www.fsf.org/">Free Software Foundation, Inc</a>.</p>

   <p>This program is free software; you can redistribute it and/or modify it
   under the terms of the <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.html">GNU
   General Public License</a> as published by the Free Software Foundation;
   either version 2 of the License, or (at your option) any later version.</p>

   <p>This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   General Public License for more details.</p>

   <p>You should have received a copy of the GNU General Public License along
   with this program; if not, write to the Free Software Foundation, Inc., 59
   Temple Place, Suite 330, Boston, MA 02111-1307 USA</p>

  </div>
    
@credits
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
fill-column:79
End:
}@#
