<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2004-2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<html>
 <head>
@stdhead{choose}
 </head>
 <body>
@stdmenu{choose}
   <h1>@label:choose.title@</h1>
  
  @if{@eq{@label{sidebar.choosewhich}}{choosealpha}}
     {
   <p class=choosealpha>
    <a title="Directories starting with 'a'"
    href="@url?action=choose&#38;regexp=^(the )?a">A</a> |
    <a title="Directories starting with 'b'"
    href="@url?action=choose&#38;regexp=^(the )?b">B</a> |
    <a title="Directories starting with 'c'"
    href="@url?action=choose&#38;regexp=^(the )?c">C</a> |
    <a title="Directories starting with 'd'"
    href="@url?action=choose&#38;regexp=^(the )?d">D</a> |
    <a title="Directories starting with 'e'"
    href="@url?action=choose&#38;regexp=^(the )?e">E</a> |
    <a title="Directories starting with 'f'"
    href="@url?action=choose&#38;regexp=^(the )?f">F</a> |
    <a title="Directories starting with 'g'"
    href="@url?action=choose&#38;regexp=^(the )?g">G</a> |
    <a title="Directories starting with 'h'"
    href="@url?action=choose&#38;regexp=^(the )?h">H</a> |
    <a title="Directories starting with 'i'"
    href="@url?action=choose&#38;regexp=^(the )?i">I</a> |
    <a title="Directories starting with 'j'"
    href="@url?action=choose&#38;regexp=^(the )?j">J</a> |
    <a title="Directories starting with 'k'"
    href="@url?action=choose&#38;regexp=^(the )?k">K</a> |
    <a title="Directories starting with 'l'"
    href="@url?action=choose&#38;regexp=^(the )?l">L</a> |
    <a title="Directories starting with 'm'"
    href="@url?action=choose&#38;regexp=^(the )?m">M</a> |
    <a title="Directories starting with 'n'"
    href="@url?action=choose&#38;regexp=^(the )?n">N</a> |
    <a title="Directories starting with 'o'"
    href="@url?action=choose&#38;regexp=^(the )?o">O</a> |
    <a title="Directories starting with 'p'"
    href="@url?action=choose&#38;regexp=^(the )?p">P</a> |
    <a title="Directories starting with 'q'"
    href="@url?action=choose&#38;regexp=^(the )?q">Q</a> |
    <a title="Directories starting with 'r'"
    href="@url?action=choose&#38;regexp=^(the )?r">R</a> |
    <a title="Directories starting with 's'"
    href="@url?action=choose&#38;regexp=^(the )?s">S</a> |
    <a title="Directories starting with 't'"
    href="@url?action=choose&#38;regexp=^(?!the [^t])t">T</a> |
    <a title="Directories starting with 'u'"
    href="@url?action=choose&#38;regexp=^(the )?u">U</a> |
    <a title="Directories starting with 'v'"
    href="@url?action=choose&#38;regexp=^(the )?v">V</a> |
    <a title="Directories starting with 'w'"
    href="@url?action=choose&#38;regexp=^(the )?w">W</a> |
    <a title="Directories starting with 'x'"
    href="@url?action=choose&#38;regexp=^(the )?x">X</a> |
    <a title="Directories starting with 'y'"
    href="@url?action=choose&#38;regexp=^(the )?y">Y</a> |
    <a title="Directories starting with 'z'"
    href="@url?action=choose&#38;regexp=^(the )?z">Z</a> |
    <a title="Directories starting with anything else"
    href="@url?action=choose&#38;regexp=^[^a-z]">*</a>
   </p>
}

@# TODO navigation...

   <div class=directories>
    <div class=filesdirectories>
     @dirs{@arg{dir}}{@arg{re}}{
      <p class=entry>
       <a href="@url?action=choose&#38;dir=@urlquote{@track}">
        <img class=button src="@image{directory}" alt="">
        @display
       </a>
      </p>}
    </div>
   </div>

@define{sometracks}{template}{}

   <div class=files>
    <div class=filesdirectories>
     @dirs{@arg{dir}}{@arg{re}}{
      <p class=entry>
@define{sometracks}{template}{@template}@#
       @rights{prefs}{
        <a class=imgprefs
           href="@url?action=prefs&#38;0_file=@urlquote{@resolve{@track}}">
	 <img class=button
	      src="@image{edit}"
	      title="@label:choose.prefsverbose@"
	      alt="@label:choose.prefs@">
        </a>
       }@#
       <a href="@url?action=play&#38;file=@urlquote{@track}&#38;back=@urlquote{@thisurl}"
          title="@label{choose.play}">
        @display
       </a>
       @if{@eq{@trackstate{@track}}{playing}}
          {[<b>playing</b>]}
       @if{@eq{@trackstate{@track}}{queued}}
          {[<b>queued</b>]}
      </p>}
      @sometracks{
      <p class=all>
        @right{prefs}{
        <a class=imgprefs
           href="@url?action=prefs&#38;dir=@urlquote{@arg{dir}}">
         <img class=button
              src="@image{edit}"
              title="@label:choose.allprefsverbose@"
              alt="@label:choose.allprefs@">
        </a>}
        <a class=button
           href="@url?action=play&#38;dir=@urlquote{@arg{dir}}"&#38;back=@urlquote{@thisurl}">
         @label{choose.playall}
        </a>
      </p>}
    </div>
   </div>

@credits
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
fill-column:79
End:
}@#
