<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2004-2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<html>
 <head>
@stdhead{help}
 </head>
 <body>
@stdmenu{help}
   <h1>@label{help.title}</h1>

   <h2 class=helptitle>Introduction</h2>

   <div class=helpsection>

     <p>All screens in the DisOrder web interface have a set of
     hyperlinks at the top.  You can use these to visit the various
     screens described below.  Note that if you are not logged in some
     of these will be greyed out.  The link for the currently active
     screen is highlighted.</p>

   </div>
  
   <h2 class=helptitle><a name=playing>Playing</a></h2>

   <div class=helpsection>

    <p>This screen displays the currently playing track (if there is one) and
    lists all the tracks in the queue (the track that will be played soonest
    being listed first.)  Where possible, estimated start times are
    given.</p>

    <p>Each track has a <img class=button src="@image{scratch}"
    title="@label{playing.scratch}" alt="@label{playing.scratch}">
    button next to it.  For the currently playing track this can be
    used to stop playing the track before it has finished; this is
    called &ldquo;scratching&rdquo;.  For a track in the queue it
    removes the track from the queue.</p>

    <p>If you are not logged in, or if your user has limited rights,
    you may only be able to scratch or remove certain tracks (for
    instance, those you picked yourself).</p>

    <p>Artist and album names are hyperlinks to the relevant locations
    in the <a href="#choose">Choose</a> screen (see below).</p>

   </div>

   <h2 class=helptitle><a name=manage>Manage</a></h2>

   <div class=helpsection>

    <p>This screen is almost identical to <a
    href="#playing">Playing</a> except that it includes extra
    management features.</p>

   <p>At the top of the screen are the following controls:</p>

   <ul>
    <li>Pause.  This button can be used to pause playing (provided the
    player supports it).  <img width=@width height=@height class=imgbutton
    src="@image{enabled}"> indicates that playing is paused,
    <img width=@width height=@height class=imgbutton
    src="@image{disabled}"> that it is not.</li>

    <li>Enable/disable random play.  If disabled then queued tracks
    will still be played but if the queue is empty nothing will be
    picked at random.  <img width=@width height=@height class=imgbutton
    src="@image{enabled}"> indicates that random play is
    enabled, <img width=@width height=@height class=imgbutton
    src="@image{disabled}"> that it is disabled.</li>

    <li>Enable/disable play.  If disabled then tracks in the queue
    will not be played, but will remain in the queue instead.  <img
    width=@width height=@height class=imgbutton src="@image{enabled}">
    indicates that play is enabled, <img width=@width height=@height
    class=imgbutton src="@image{disabled}"> that it is
    disabled.</li>

    <li>Volume control.  You can use the <img class=button
       src="@image{up}"
       title="@label{volume.up}"
       alt="@label{volume.up}"> and <img
       src="@image{down}"
       title="@label{volume.down}"
       alt="@label{volume.down}"> buttons to increase or
    decrease the volume, or enter new volume settings for the left
    and/or right speakers.</li>

   </ul>

   <p>Below this is the same table of current and queued tracks as for
    the main playing screen, but with extra buttons for managing the
    queue.
    The <img class=button src="@image{up}"
     title="@label{playing.up}" alt="@label{playing.up}"> and <img
     src="@image{down}" title="@label{playing.down}"
     alt="@label{playing.down}"> buttons on each track move that
    track around in the queue.  Similarly the <img class=button
     src="@image{upall}" title="@label{playing.upall}"
     alt="@label{playing.upall}"> and <img
     src="@image{downall}" title="@label{playing.downall}"
     alt="@label{playing.downall}"> buttons move each track to the head or
    tail of the queue.</p>

    <p>If you are not logged in, or if your user has limited rights,
    you may only be able to move certain tracks (for instance, those
    you picked yourself), and may not be able to adjust the volume,
    random play setting, etc.</p>

   </div>

   <h2 class=helptitle><a name=recent>Recent</a></h2>

   <div class=helpsection>

    <p>This screen displays recently played tracks, most recent first.
    The <img class=button src="@image{edit}"
    title="@label{choose.prefs}" alt="@label{choose.prefs}">
    button can be used to edit the details for a track; see <a
    href="#prefs">Editing Preferences</a> below.</p>

    <p>The number of tracks remembered is controlled by the server
    configuration.  See the <span class=configuration>history</span>
    option in <a
    href="@url?action=disorder_config.5">disorder_config(5)</a> for
    more details.</p>

   </div>

   <h2 class=helptitle><a name=new>New</a></h2>

   <div class=helpsection>

    <p>This screen displays tracks recently added to the database,
    most recent first.  The <img class=button
    src="@image{edit}" title="@label{choose.prefs}"
    alt="@label{choose.prefs}"> button can be used to edit the details
    for a track; see <a href="#prefs">Editing Preferences</a> below,
    and clicking on the track title will add it to the queue.</p>

    <p>The time tracks are remembered for is controlled by the server
    configuration.  See the <span
    class=configuration>noticed_history</span> option in <a
    href="@url?action=disorder_config.5">disorder_config(5)</a> for
    more details.</p>

   </div>

   <h2 class=helptitle><a name=choose>Choose</a></h2>

   <div class=helpsection>

    <p>This screen allows you to choose a track to be played, by navigating
     through the directory structure of the tracks filesystem.  The following
     buttons appear:</p>

    <table class=helpbuttons>
     <tbody>
      <tr>
       <td><img
       class=button src="@image{edit}"
       title="@label{choose.prefs}"
       alt="@label{choose.prefs}"></td>
       <td>This button can be used to edit the details for a
       track; see <a href="#prefs">Editing Preferences</a> below.</td>
      </tr>
      <tr>
       <td><span class=button>@label{choose.playall}</span></td>
       <td>This button plays all the tracks in a directory,
       in order.  This is used to efficiently play a whole album.</td>
      </tr>
     </tbody>
    </table>

    <p>This screen has two forms: <a
    href="@url?action=choose">choose</a>, which give
    you all the top-level directories at once, and <a
    href="@url?action=choosealpha">choosealpha</a>,
    which breaks them down by initial letter.</p>

    <p>This screen will may not be available if you are not logged in
    or if your user has limited rights.</p>

   </div>

   <h2 class=helptitle><a name=prefs>Editing Preferences</a></h2>

   <div class=helpsection>

    <p>This screen, reached from <a href="#choose">Choose</a> or <a
    href="#recent">Recent</a>, is used to edit a track's preferences.
    Note that if you are not logged in, or your user has limited
    rights, you may not be able to edit track preferences.</p>
    
    <p>The form can be used to
    edit artist, album and title fields for the track as displayed; or
    to set the tags or weight for a track; or to enable or disable random play
    for the track.</p>

    <p>Tags are separated by commas and can contain any other printing
    characters (including spaces).  Leading and trailing spaces are
    not significant.</p>

    <p>Weights determine how likely a track is to be picked at
    random.  Tracks with higher weights are more likely to be picked.
    The default weight is 90000 and the maximum is 2147483647.</p>

    <p>By default, any track can be picked for random play.  The check
    box at the bottom can be used to selectivel enable or disable it
    for individual tracks.</p>

   </div>

   <h2 class=helptitle>Search</h2>

   
   <div class=helpsection>

     TODO  search is folded into choose now

     <p>This screen allows you to search for keywords in track names.  If you
    specify more than one keyword then only tracks containing all of them are
    listed.  Results are grouped by artist, album and title.</p>

    <p>It is possible to limit results to tracks with a particular
    tag, by using <b>tag:</b><i>TAG</i> among the search terms.</p>

    <p>Some keywords, known as &ldquo;stopwords&rdquo;, are excluded
    from the search, and will never match.  See the <span
    class=configuration>stopword</span> option in <a
    href="@url?action=disorder_config.5">disorder_config(5)</a> for
    further details about this.</p>

    <p>This screen will may not be available if you are not logged in
    or if your user has limited rights.</p>

   </div>

  <h2 class=helptitle><a name=Login>Login</a></h2>

  <div class=helpsection>

   <p>This screen has two different versions.</p>

   <p><b>1</b>. When no user is logged in, it has a login form and a
   registration form.  If you do not have a username and password,
   fill in and submit the registration form.  You will be emailed an
   email with a confirmation URL that you must visit.  Only after
   visiting this URL will your login become active.</p>

   <p>Once you have a username and password, you can use the login
   form to authenticate yourself to the web interface.  Note that this
   is your primary DisOrder password, which (in old installations) may
   differ from your original web password.</p>

   <p><b>2</b>. When you are logged in, this screen instead has a form
   to change your email address or password, and a logout button.</p>

  </div>

  <h2 class=helptitle>Troubleshooting</h2>

  <div class=helpsection>

   <p>If you cannot play a track, or it does not appear in the
   database even after a rescan, check the following things:</p>

   <ul>

    <li>Are there any error messages in the system log?  The server
    logs to <span class=configuration>LOG_DAEMON</span>, which
    typically ends up in <i>/var/log/daemon.log</i> or
    <i>/var/log/messages</i>, though this depends on local
    configuration.

    <li>Is the track in a known format?  Out of the box, OGG, MP3,
     FLAC and WAV are supported.  You can look at the configuration
     file for additional formats recognized by the local installation.

    <li>Do permissions on the track allow the server to read it?  If
    the server cannot read it then it will not be able to play it.
     
    <li>Do the permissions on the containing directories allow the
    server to read and execute them?

   </ul>

   <p>The user the server runs as is determined by the <span
   class=configuration>user</span> directive in the configuration
   file.  The README recommends using <b>jukebox</b> for this purpose
   but it could be different locally.</p>

  </div>

   <h2 class=helptitle>Man Pages</h2>

   <div class=helpsection>

    <p><a href="@url?action=disorder_config.5">disorder_config(5)</a> -
     configuration</p>

    <p><a href="@url?action=disorder.1">disorder(1)</a> - command line
     client</p>

    <p><a href="@url?action=disobedience.1">disobedience(1)</a> - GTK+
     client</p>

    <p><a href="@url?action=disorderd.8">disorderd(8)</a> - server</p>

    <p><a href="@url?action=disorder-dump.8">disorder-dump(8)</a> -
     dump/restore preferences database</p>

    <p><a href="@url?action=disorder.3">disorder(3)</a> - C API</p>

    <p><a href="@url?action=disorder_protocol.5">disorder_protocol(5)</a> -
     DisOrder control protocol</p>

   </div>

@credits
  </div>
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
fill-column:79
End:
}@#
