<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2007, 2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<html>
 <head>
@stdhead{login}
 </head>
 <body>
@stdmenu{login}
   <h1>@label{login.title}</h1>

@if{@ne{@error}{}}
   {@# Error reporting from some earlier operation
     <div class=error>
       <p class=error>@label{error.@error}</p>
     </div>}

@if{@ne{@status}{}}
   {@# Some action succeeded
     <div class=loginstatus>
       <p>@label{login.@status}</p>
     </div>}

@if{@eq{@user}{guest}}
   {@# Guest user, allow login and registration
   <h2>Existing users</h2>

   <p>If you have a username, use this form to log in.</p>

   <form class=login action="@url" method=POST
         enctype="multipart/form-data" accept-charset=utf-8>
     <table class=login>
       <tr>
         <td>@label{login.username}</td>
         <td>
           <input class=username name=username type=text size=32
	          value="@argq{username}">
         </td>
       </tr>
       <tr>
         <td>@label{login.password}</td>
         <td>
           <input class=password name=password type=password value=""
                  size=32>
         </td>
       </tr>
       <tr>
         <td colspan=2>
          <span class=button>
           <button class=login name=button type=submit>
             @label{login.login}
           </button>
          </span>
         </td>
       </tr>
     </table>
     <input name=action type=hidden value=login>
     <input name=back type=hidden value="@argq{back}">
   </form>

   <p>If you've forgotten your password, use this form to request an
   email reminder.  A reminder can only be sent if you registered with
   your email address, and if a reminder has been sent too recently
   then it won't be possible to send one.</p>

   <form class=reminder action="@url" method=POST
         enctype="multipart/form-data" accept-charset=utf-8>
     <table class=login>
       <tr>
         <td>@label{login.username}</td>
         <td>
           <input class=username name=username type=text size=32
	          value="@argq{username}">
         </td>
       </tr>
       <tr>
         <td colspan=2>
          <span class=button>
           <button class=login name=button type=submit>
            @label{login.reminder}
           </span>
          </button>
         </td>
       </tr>
     </table>
     <input name=action type=hidden value=reminder>
   </form>

   @right{register}{
   <h2>New Users</h2>

   <p>If you do not have a login enter a username, a password and your
   email address here.  You will be sent an email containing a URL,
   which you must visit to activate your login before you can use
   it.<p>

   <form class=register action="@url" method=POST
         enctype="multipart/form-data" accept-charset=utf-8>
     <table class=register>
       <tr>
         <td>@label{login.username}</td>
         <td>
           <input class=username name=username type=text size=32
	          value="">
         </td>
         <td class=extra>@label{login.registerusernameextra}</td>
       </tr>
       <tr>
         <td>@label{login.email}</td>
         <td>
           <input class=email name=email type=text size=32
                  value="">
         </td>
         <td class=extra>@label{login.registeremailextra}</td>
       </tr>
       <tr>
         <td>@label{login.password1}</td>
         <td>
           <input class=password name=password1 type=password size=32
	          value="">
         </td>
         <td class=extra>@label{login.registerpassword1extra}</td>
       </tr>
       <tr>
         <td>@label{login.password2}</td>
         <td>
           <input class=password name=password2 type=password size=32
	          value="">
         </td>
         <td class=extra>@label{login.registerpassword2extra}</td>
       </tr>
       <tr>
         <td colspan=3>
	   <span class=button>
            <button class=register name=button type=submit>
             @label{login.register}
            </button>
	   </span>
         </td>
       </tr>
     </table>
     <input name=action type=hidden value=register>
   </form>}
   }{@# not the guest user, allow change of details and logout

   <h2>Logged in as @user</h2>

   <form class=logout action="@url" method=POST
         enctype="multipart/form-data" accept-charset=utf-8>
     <div class=logout>
       <span class=button>
        <button class=logout name=submit type=submit>
         @label{login.logout}
        </button>
       </span>
     </div>
     <input name=action type=hidden value=logout>
   </form>

   <p>Use this form to change your email address and/or password.</p>

   <form class=edituser action="@url" method=POST
         enctype="multipart/form-data" accept-charset=utf-8>
     <table class=edituser>
       <tr>
         <td>@label{login.email}</td>
         <td>
           <input class=email name=email type=text size=32
	          value="@userinfo{email}">
         </td>
         <td class=extra>@label{login.edituseremailextra}</td>
       </tr>
       <tr>
         <td>@label{login.newpassword}</td>
         <td>
           <input class=password name=changepassword1 type=password size=32
	          value="">
         </td>
         <td class=extra>@label{login.edituserpassword1extra}</td>
       </tr>
       <tr>
         <td>@label{login.newpassword}</td>
         <td>
           <input class=password name=changepassword2 type=password size=32
	          value="">
         </td>
         <td class=extra>@label{login.edituserpassword2extra}</td>
       </tr>
       <tr>
         <td colspan=3>
	  <span class=button>
           <button class=edituser name=submit type=submit>
            @label{login.edituser}
           </button>
	  </span>
         </td>
       </tr>
     </table>
     <input name=action type=hidden value=edituser>
   </form>

   }

@credits
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
fill-column:79
End:
}@#
