@discard{

This file is part of DisOrder.
Copyright (C) 2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA

@# Standard width and height of an image
@define {width} {} {16}
@define {height} {} {16}

@# Expand to @yes for the Manage page and @no for the playing page
@define {ifmanage} {yes no}
	  {@if {@eq {@arg{action}}{manage}}
	       {@yes}
	       {@no}}

@# Expand to &back=manage or to nothing
@define {back} {}
        {@ifmanage{&amp;back=manage}{}}

@# Expand to the time that @id will be played
@#  @what is the section
@#  @id is the track ID
@define {mwhen} {what id}
        {@when{@id}</td>}

@# Expand to the 'who' field for @id
@#  @what is the section
@#  @id is the track ID
@define {mwho} {what id}
        {@if{@eq{@who{@id}}{}}
            {@if{@eq{@state{@id}}{random}}
                {@label{@what.randomtrack}}
                 {&nbsp;}}
            {@who{@id}}}

@# Expand to the artist for @track
@#  @what is the section
@#  @track is the track name
@define {martist} {what track}
        {@right{play}
               {<a class=directory
                   href="@url?action=choose&amp;directory=@urlquote{@dirname{@dirname{@track}}}"
                   title="@label{@what.artistverbose}">@part{@track}{short}{artist}</a>}
               {<span class=directory
                      title="@part{@track}{artist}@">@part{@track}{short}{artist}</span>}}

@# Expand to the album for @track
@#  @what is the section
@#  @track is the track name
@define {malbum} {what track}
        {@right{play}
               {<a class=directory
                   href="@url?action=choose&amp;directory=@urlquote{@dirname{@track}}"
                   title="@label{@what.albumverbose}">@part{@track}{short}{album}</a>}
               {<span class=directory
                      title="@part{@track}{album}@">@part{@track}{short}{album}</span>}}

@# Expand to the title for @track
@#  @what is the section
@#  @track is the track name
@define {mtitle} {what track}
        {<span title="@part{@track}{title}">@part{@track}{short}{title}</span>}

@# Expand to the remove/scratch entry for @id
@#  @what is the section
@#  @id is the track ID
@define {mremove} {what id}
        {@if{@removable{@id}}
            {<a class=imgbutton
                href="@url?action=remove&#38;id=@id@back">
               <img class=button src="@image{remove}"
                    title="@label{@what.removeverbose}"
                    alt="@label{@what.scratch}">
             </a>}
            {<img class=button src="@image{noremove}"
                  title="@label{@what.removeverbose}"
                  alt="@label{@what.scratch}">}}

@# Expand to a move button
@#  @id is the track ID
@#  @dir should be a direction: up, upall, down or downall
@#  @delta should be the distance, +ve for up and -ve for down
@# This macro calls @movable to check that the move is possible.
@define {mmove} {id dir delta}
        {@if{@movable{@id}{@delta}}
            {<a class=imgbutton
                href="@url?action=move&#38;id=@id&#38;delta=@delta@back">
               <img class=button src="@image{@dir}"
                    title="@label{playing.@q{@dir}verbose}"
                    alt="@label{playing.@dir}">
             </a>}
            {<img class=button src="@image{no@dir}"
                    title="@label{playing.@q{@dir}verbose}"
                    alt="@label{playing.@dir}">}}
}@#
