<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2004-2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<html>
 <head>
@stdhead{new}
 </head>
 <body>
@stdmenu{new}
  <h1>@label:new.title@</h1>

@#{only display the table if there is something to put in it}@
@if{@isnew@}{
  <table class=new>
    <tr class=headings>
     <th class=artist>@label:heading.artist@</th>
     <th class=album>@label:heading.album@</th>
     <th class=title>@label:heading.title@</th>
     <th class=length>@label:heading.length@</th>
@right{prefs}{
     <th class=button>&nbsp;</th>}@
    </tr>
    @new{
    <tr class=@parity@>
     <td class=artist>@right{play}{<a class=directory
       title="@part{artist}@"
       href="@url@?action=choose&amp;directory=@urlquote{@dirname{@dirname{@part:path@}@}@}@"
       >@part{short}{artist}@</a>}{<span class=directory
       title="@part{artist}@"
       >@part{short}{artist}@</span>}@</td>
     <td class=album>@right{play}{<a class=directory
       title="@part{album}@"
       href="@url@?action=choose&amp;directory=@urlquote{@dirname{@part:path@}@}@"
       >@part{short}{album}@</a>}{<span class=directory
       title="@part{album}@"
       >@part{short}{album}@</span>}@</td>
     <td class=title>@right{play}{<a class=file
       title="@part{title}@"
       href="@url@?action=play&#38;file=@urlquote{@file@}@&#38;back=@urlquote{@thisurl@}@"
       >@part{short}{title}@</a>}{<span class=file
       title="@part{title}@"
       >@part{short}{title}@</span>}@</td>
     <td class=length>@length@</td>
@right{prefs}{
     <td class=imgbutton><a class=imgbutton
      href="@url@?action=prefs&#38;0_file=@urlquote{@file@}@"><img
       class=button src="@image:edit@"
       title="@label:choose.prefsverbose@"
       alt="@label:choose.prefs@"></a></td>
    </tr>}@
    }@
  </table>
}@

@credits
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
fill-column:79
End:
}@#
