<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2004-2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
@discard{
  @include{macros.tmpl}
}@#
<html>
 <head>
@include{stdhead.tmpl}@#
  <title>@if{@isplaying}
            {@playing{@part{@id}{title}}}
            {@label{playing.title}}</title>
 </head>
 <body>
@include{topbar.tmpl}
   <h1>@label{playing.title}</h1>

@# Extra control buttons for the management page
   @ifmanage{
   <div class=mgmt>
   <p class=mgmt>
   @if{@paused}{
@# Paused
    <a class=button
       href="@url?action=resume@back"
       title="@label{playing.resumeverbose}">@label{playing.pause}</a>
    </a>
    <img width=16 height=16 class=imgbutton src="@image{enabled}">
   }{
@# Not paused
     <a class=button
        href="@url?action=pause@back"
        title="@label{playing.pauseverbose}">@label{playing.pause}</a>
     </a>
     <img width=16 height=16 class=imgbutton src="@image{disabled}">
   }
   @if{@random-enabled}{
@# Random play enabled
     <a class=button
        href="@url?action=random-disable@back"
        title="@label{playing.randomdisableverbose}">@label{playing.random}</a>
     </a>
     <img width=16 height=16 class=imgbutton src="@image{enabled}">
   }{
@# Random play disabled
    <a class=button
       href="@url?action=random-enable@back"
       title="@label{playing.randomenableverbose}">@label{playing.random}</a>
    </a>
    <img width=16 height=16 class=imgbutton src="@image{disabled}">
   }
   @if{@enabled}{
@# Play enabled
     <a class=button
        href="@url?action=disable@back"
        title="@label{playing.disableverbose}">@label{playing.playing}</a>
     </a>
     <img width=16 height=16 class=imgbutton src="@image{enabled}">
   }{
@# Play disabled
     <a class=button
        href="@url?action=enable@back"
        title="@label{playing.enableverbose}">@label{playing.playing}</a>
     </a>
     <img width=16 height=16 class=imgbutton src="@image{disabled}">
   }
@# Volume form
   <form class=volume method=POST
         action="@url"
         enctype="multipart/form-data" accept-charset=utf-8>
   <span class=volume>
     @label{playing.volume}
@# Volume up button
     @right{volume}{
       <a class=imgbutton
          href="@url?action=volume&#38;delta=-@label{volume.resolution}@back">
         <img class=button src="@image{down}"
              alt="@label{volume.reduce}"
              title="@label{volume.reduceverbose}">
       </a>
     }{
       <img class=button src="@image{nodown}">
     }
@# Volume value widgets
     @label{volume.left} <input size=3 name=left
                                type=text value="@volume:left@">
     @label{volume.right} <input size=3 name=right type
                                 text value="@volume:right@">
     <input name=back type=hidden value="@thisurl@?back=manage">
@# Volume set button
     @right{volume}{
       <button class=search name=submit type=submit>
          @label{volume.set}
       </button>
       <input name=action type=hidden value=volume>
     }
@# Volume down button
     @right{volume}{
       <a class=imgbutton
          href="@url?action=volume&#38;delta=@label{volume.resolution}@back">
          <img class=button
               src="@image{up}"
               alt="@label{volume.increase}"
               title="@label{volume.increaseverbose}">
       </a>
     }{
       <img class=button src="@image{noup}">
     }
    </form>
    </span>
    </p>
    </div>
   }{}

@# Only display the table if there is something to put in it
@if{@or{@isplaying}{@isqueue}}{
   <table class=playing>
     <tr class=headings>
      <th class=when>@label{heading.when}</th>
      <th class=who>@label{heading.who}</th>
      <th class=artist>@label{heading.artist}</th>
      <th class=album>@label{heading.album}</th>
      <th class=title>@label{heading.title}</th>
      <th class=length>@label{heading.length}</th>
      <th class=button>&nbsp;</th>
      @ifmanage{
	<th class=imgbutton>&nbsp;</th>
	<th class=imgbutton>&nbsp;</th>
	<th class=imgbutton>&nbsp;</th>
	<th class=imgbutton>&nbsp;</th>
      }{}
     </tr>
     @if{@isplaying}{
       <tr class=nowplaying>
	<td colspan=@ifmanage{11}{7}>@label{playing.now}</td>
       </tr>
     }
     @playing{
       <tr class=playing>
	<td class=when>@mwhen{playing}{@id}</td>
	<td class=who>@mwho{playing}{@id}</td>
	<td class=artist>@martist{playing}{@track}</td>
	<td class=album>@malbum{playing}{@track}</td>
	<td class=title>@mtitle{playing}{@track}</td>
	<td class=length>@length{@id}</td>
	<td class=imgbutton>@mremove{playing}{@id}</td>
	@ifmanage{
	  <td class=imgbutton>&nbsp;</td>
	  <td class=imgbutton>&nbsp;</td>
	  <td class=imgbutton>&nbsp;</td>
	  <td class=imgbutton>&nbsp;</td>
	}{}
       </tr>
     }
     @if{@isqueue@}{
       <tr class=next>
	<td colspan=@ifmanage{11}{7}@>@label{playing.next}</td>
       </tr>
     }
     @queue{
       <tr class=@parity@>
	<td class=when>@mwhen{queue}{@id}</td>
	<td class=who>@mwho{queue}{@id}</td>
	<td class=artist>@martist{queue}{@track}</td>
	<td class=album>@malbum{queue}{@track}</td>
	<td class=title>@mtitle{queue}{@track}</td>
	<td class=length>@length</td>
	<td class=imgbutton>@mremove{queue}{@id}</td>
	@ifmanage{
	  <td class=imgbutton>@mmove{@id}{upall}{2147483647}</td>
	  <td class=imgbutton>@mmove{@id}{up}{1}</td>
	  <td class=imgbutton>@mmove{@id}{down}{-1}</td>
	  <td class=imgbutton>@mmove{@id}{downall}{-2147483647}</td>
	}
       </tr>
     }
   </table>
}

@include{topbarend.tmpl}@#
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
End:
}@
