<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<!--
This file is part of DisOrder.
Copyright (C) 2004-2008 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<html>
 <head>
@stdhead{prefs}
 </head>
 <body>
@stdmenu{prefs}
  <h1>@label{prefs.title}</h1>

  <form class=prefs method=POST
        action="@url"
        enctype="multipart/form-data"
        accept-charset="utf-8">
   <input type=hidden name=parts value="artist album title">
   <input type=hidden name=context value="display">
   <input name=action type=hidden value=set>
   <input name=back type=hidden value="@quote{@thisurl}">
   @if{@eq{@arg{dir}}{}}
      {@mprefs{0}{@arg{track}}}
      {@tracks{@arg{dir}}
              {@mprefs{@index}{@track}}}
   <p>
    <button type=submit name=submit>
     @label{prefs.set}
    </button>
   </p>
  </form>

@credits
 </body>
</html>
@discard{
Local variables:
mode:sgml
sgml-always-quote-attributes:nil
sgml-indent-step:1
sgml-indent-data:t
indent-tabs-mode:nil
fill-column:79
End:
}@#
