<div id=sidebar>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@">@label:sidebar.playing@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?action=recent&amp;nonce=@nonce@">@label:sidebar.recent@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?action=@label:sidebar.choosewhich@&amp;nonce=@nonce@">@label:sidebar.choose@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?action=search&amp;nonce=@nonce@">@label:sidebar.search@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?action=volume&amp;nonce=@nonce@">@label:sidebar.volume@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?mgmt=true">@label:sidebar.manage@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?action=help&amp;nonce=@nonce@">@label:sidebar.help@</a>
 </p>
 <p class=sidebarlink>
  <a class=sidebarlink href="@url@?action=about&amp;nonce=@nonce@">@label:sidebar.about@</a>
 </p>
</div>
<div id=content>
@@
<!--
This file is part of DisOrder.
Copyright (C) 2004, 2005 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
<!-- arch-tag:4d13881dcc3c1c93ff42a9ed5ca0f737 -->
