<p class=menubar>
  <a class=@if{@eq{@action@}{playing}@}{activemenu}{inactivemenu}@
 href="@url@"
 title="@label:sidebar.playingverbose@">@label:sidebar.playing@</a>
  <a class=@if{@eq{@action@}{recent}@}{activemenu}{inactivemenu}@
 href="@url@?action=recent&amp;nonce=@nonce@"
 title="@label:sidebar.recentverbose@">@label:sidebar.recent@</a>
  <a class=@if{@eq{@action@}{new}@}{activemenu}{inactivemenu}@
 href="@url@?action=new&amp;nonce=@nonce@"
 title="@label:sidebar.newverbose@">@label:sidebar.new@</a>
@right{play}{
  <a class=@if{@or{@eq{@action@}{choose}@}
                  {@eq{@action@}{choosealpha}@}@}
              {activemenu}
              {inactivemenu}@
 href="@url@?action=@label:sidebar.choosewhich@&amp;nonce=@nonce@"
 title="@label:sidebar.chooseverbose@">@label:sidebar.choose@</a>}{
  <span class=invalidmenu
   title="@label:sidebar.chooseverbose@">@label:sidebar.choose@</span>}@
@right{play}{
  <a class=@if{@eq{@action@}{search}@}{activemenu}{inactivemenu}@
 href="@url@?action=search&amp;nonce=@nonce@"
 title="@label:sidebar.searchverbose@">@label:sidebar.search@</a>}{
  <span class=invalidmenu
   title="@label:sidebar.searchverbose@">@label:sidebar.search@</span>}@
<!-- disabled by default since now available from 'manage'
  <a class=@if{@eq{@action@}{volume}@}{activemenu}{inactivemenu}@
 href="@url@?action=volume&amp;nonce=@nonce@"
 title="@label:sidebar.volumeverbose@">@label:sidebar.volume@</a>
-->
  <a class=@if{@eq{@action@}{manage}@}{activemenu}{inactivemenu}@
 href="@url@?mgmt=true"
 title="@label:sidebar.manageverbose@">@label:sidebar.manage@</a>
  <a class=@if{@eq{@action@}{login}@}{activemenu}{inactivemenu}@
 href="@url@?action=login&amp;nonce=@nonce@"
 title="@label:sidebar.loginverbose@">@label:sidebar.login@</a>
  <a class=@if{@eq{@action@}{help}@}{activemenu}{inactivemenu}@
 href="@url@?action=help&amp;nonce=@nonce@"
 title="@label:sidebar.helpverbose@">@label:sidebar.help@</a>
  <a class=@if{@eq{@action@}{about}@}{activemenu}{inactivemenu}@
 href="@url@?action=about&amp;nonce=@nonce@"
 title="@label:sidebar.aboutverbose@">@label:sidebar.about@</a>
</p>
<hr>
@@
<!--
This file is part of DisOrder.
Copyright (C) 2005, 2007 Richard Kettlewell

This program is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307
USA
-->
